<p>task-add works!</p>
<div class="card">
  <div class="card-header">
    Add a new Task
  </div>
  <div class="card-body">
    <form (submit)="addTask()" #forma="ngForm">
      <div class="fb">
        <label for="title">Task title</label>
        <input 
        type="text"
        id="title" 
        class="txt" 
        name="title" 
        [(ngModel)]="title"
        required>0
      </div>
      <div class="form-group">
        <label for="descrption">Descripcion</label>
        <input 
        type="text" 
        id="descrption"
        class="txt" 
        name="descrption"
        [(ngModel)]="description"
        required
        >
      </div>
      <button type="submit" class="btn btn-primary" >Guardar</button>
    </form>
  </div>
</div>