<div>

  <div class="card">
    <div class="ch">
      <h2>titulo</h2>
      <div class="fRight">
        <button (click)="removeTask(task)" class="btn btn-danger">Remove</button>
        <!-- <button (click)="task.hide = !task.hide" class="btn btn-danger">Mostrar</button> -->
      </div>
    </div>

    <div class="card-body" >
      <p>descripcion</p>
    </div>
  </div>

</div>



<!-- [hidden]="task.hide" -->