<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <app-task-list></app-task-list>
    </div>
    <div class="col-md-3">
      bk,jmhnfghj
    </div>
  </div>
</div>